body {
    margin: 0;
}

.pic {
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.pic-1 {
    background-image: url("./images/image1.jpg");
}

.pic-2 {
    background-image: url("./images/image2.jpg");
}

.text {
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: xx-large;
    letter-spacing: 20px;
    text-transform: uppercase;
}

.pic-3 {
    background-image: url("./images/image3.jpg");
}

.pic-4 {
    background-image: url("./images/image1.jpg");
}

.section {
    text-align: center;
    padding: 10%;
    padding-top: 5%;
}

.black-bg {
    background-color: black;
    color:white;
}

.pic .black-bg  {
    padding: 20px;
}

